.choice {
    margin-left: 6%;
    margin-top: 1.5%;
    font-size: large;
}
.choice-block {
    flex-direction: row;
    display: flex;
}
.percentile {
    margin-left: 8px;
    color: red;
}
input {
    transform: scale(150%);
}
label {
    font-size: 100%;
    overflow-wrap: break-word;
    width: 100%;
}
label:hover {
    font-weight: bold;
}
