.form {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.25rem;
}
.btn {
    margin: 2%;
    padding: 0.75rem;
}
.form-description {
    font-size: 250%;
    text-align: center;
    overflow-wrap: break-word;
}